section {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  // background: linear-gradient(to bottom right, #dedede, white);
  background: linear-gradient(to bottom right, darkviolet, red);

  div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;

    h1 {
      font-family: monospace;
      font-size: 3em;
      letter-spacing: 0.3em;
      font-weight: 100;
      color: white;
      text-indent: 0.5em;
    }
    button {
      padding: 1em;
      margin-top: 5em;
      font-family: monospace;
      font-weight: 100;
      font-size: 1.3em;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 3px black;
      position: relative;
      transition: 0.1s ease-in-out;
      background-color: white;

      &:hover {
        cursor: pointer;
        box-shadow: none;
        transform: translateY(3px);
      }
    }
  }
}
